/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	background:#01579b!important;
	/*background-attachment: fixed;
    background-position: center;
    background-size: cover;*/
	font-family: 'Poppins', sans-serif!important;

}
h1 {
       font-size: 60px;
    text-align: center;
    margin: 11px 0px;
    text-transform: uppercase;
    letter-spacing: 7px;
    word-spacing: 5px;
    color: #fff;
    font-family: 'Gidugu', sans-serif;
}

video { 
   width:100%;
   max-width:800px;
   height:auto;
}

.content-wthree {
    padding: 3em 3em;
    text-align: center;
	background: #37474f;
	background: url(../images/fondo.jpg);
	
    color: black;
    margin: 2em;
}
h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
	text-transform: uppercase;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.content-wthree .fa {
    color: #1d1f21;
    font-size: 45px;
	margin: 30px 0;
	
}

/*--//footer--*/
.footer-w3l p{
	    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 27px;
}
.footer-w3l p a{
	    color:#08AAC7;
	text-decoration:none;
}
.footer-w3l p a:hover{
	color:rgb(229, 73, 69);
	 -webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	 transition: 0.5s all;
}
.footer-w3l {
    margin: 35px 0px;
}
/*--responsive--*/
@media(max-width:1680px){
	
}
@media(max-width:1440px){
	.main-agile {
		width: 55%;
	}
}
@media(max-width:1366px){
	h1 {
		font-size:58px;
		margin: 10px 0px;
		line-height: 90px;
	}
	.content-wthree {
		padding: 2.5em 2.5em;
	}
	.main-agile {
		padding: 9px 9px;
	}
	input[type="submit"] {
		font-size: 15px;
		padding: 9px 38px;
		margin-top: 36px;
	}
	.tab1 form p {
		font-size: 12.5px;
	}
	form p {
		font-size: 12.5px;
	}
	.content-wthree .fa {
		font-size: 41px;
	}
	.tab1 input[type="checkbox"]+label {
		font-size: 14px;
	}
}
@media(max-width:1280px){
	.main-agile {
		width: 59%;
	}
	p.or {
		font-size: 14px;
	}
}
@media(max-width:1080px){
	h1 {
		font-size: 55px;
	}
	.main-agile {
		width: 70%;
	} .fields input[type="text"],input[type="email"] {
		padding: 5px 0px;
		margin-bottom: 17px;
	}
	.tab1 form p {
		font-size: 12px;
	}
	form p {
		font-size: 12px;
	}
	.tab2, .fields input[type="text"],input[type="email"] {
		padding: 4px 0px;
	}
	.tab1 input[type="checkbox"]+label span:first-child {
		width: 13px;
		height: 13px;
	}
	.tab1 input[type="checkbox"]:checked+label span:first-child:before {
		background-size: 11px;
	}
}
@media(max-width:1050px){
	
}
@media(max-width:1024px){
	h1 {
		font-size: 53px;
		line-height: 80px;
	}
	.resp-tab-content {
		padding: 30px 35px!important;
	}
	.tab1 ul {
		margin-top: 15px;
	}
	input[type="submit"] {
		font-size: 14px;
		margin-top: 31px;
	}
	p.or {
		margin: 12px;
		font-size: 13px;
	}
	.content-wthree .fa {
		font-size: 38px;
	}
	.footer-w3l {
		margin: 27px 0px;
	}
	.main-agile {
		padding: 5px;
	}
	.content-wthree {
		padding: 2.4em;
	}
	.content-wthree .fa {
		margin: 39px 0;
	}
}
@media(max-width:991px){
	h1 {
		font-size: 52px;
		line-height: 88px;
	}
	.resp-tabs-list li {
		font-size: 12.4px!important;
	}
	.tab2, .fields input[type="text"],input[type="email"] {
		font-size: 14px;
	}
	.resp-tabs-list li {
		line-height: 12px!important;
	}
	.alert-close {
		background-size: 15px;
		right: 5px;
		top: 14px;
	}
	input[type="submit"] {
		margin-top: 26px;
	}
	.content-wthree .fa {
		margin: 27px 0;
	}
	.tab1 input[type="checkbox"]+label {
		font-size: 13px;
	}
	.tab1 form p ,form p {
		font-size: 11.5px;
	}.content-wthree .fa {
		font-size: 30px;
	}
}
@media(max-width:900px){
	.main-agile {
		padding: 1px;
	}
	.content-wthree {
		padding: 2.1em;
	}
	.resp-tab-content {
		padding: 28px 32px!important;
	}
	.tab1 input[type="checkbox"]+label {
		font-size: 12.4px;
	}
	.tab1 form p, form p {
		line-height: 16px;
	}
	.tab2, .fields input[type="text"],input[type="email"] {
		padding: 6px 0px;
	}
	p.or {
		margin: 10px;
		font-size: 12px;
		margin-top: 0;
	}
	input[type="submit"] {
		font-size: 13px;
		margin-top: 23px;
	}
	.tab1 input[type="checkbox"]+label span:first-child {
		width: 12px;
		height: 12px;
	}
	.tab1 input[type="checkbox"]:checked+label span:first-child:before {
		background-size: 10px;
	}
}
@media(max-width:800px){
	.main-agile {
		width: 75%;
	}
	h1 {
		font-size: 50px;
		line-height: 25px;
		margin: 33px 0px;
	}
	.footer-w3l {
		margin: 25px 0px;
	}
	.fields:nth-child(4) {
		margin-right: 7px;
	}
	.content-wthree .fa {
		font-size: 28px;
	}
}
@media(max-width:768px){
	h2.resp-accordion {
		color: rgb(229, 73, 69)!important;
		font-size: 17px!important;
	}
	h1 {
		font-size: 48px;
		 margin: 130px 0px 70px;
		
	}
	.resp-tab-content {
		padding: 15px 30px 28px!important;
	}
	input[type="submit"] {
		font-size: 12.3px;
	}
	.footer-w3l {
		margin: 100px 0px;
	}
}
@media(max-width:767px){
	h1 {
		font-size: 48px;
		 margin: 54px 0px;
	}
	.alert-close {
		right: 3px;
		top: 11px;
	}
	.footer-w3l {
		margin: 53px 0px;
	}
	p.or {
		margin-top: 0;
	}
}
@media(max-width:736px){
	.fields:nth-child(4) {
		margin-right: 6px;
	}
	h2.resp-accordion {
		font-size: 16px!important;
	}
}
@media(max-width:667px){
	h2.resp-accordion {
		font-size: 16px!important;
		padding: 8px 15px!important;
	}
	.fields:nth-child(4) {
		width: 100%;
		margin-right: 0;
		float: none;
	}
	.fields:nth-child(5) {
		width: 100%;
		float: none;
	}
	.resp-tab-content {
		padding: 15px 26px 25px!important;
	}
	.content-wthree .fa {
		margin: 25px 0;
	}
	.footer-w3l p {
		font-size: 13px;
	}
}
@media(max-width:640px){
	.tab2, .fields input[type="text"],input[type="email"]{
		font-size: 13.4px;
	}
	input[type="submit"] {
		padding: 8px 36px;
	}
	.tab1 ul {
		margin-top: 8px;
	}
	.tab1 input[type="checkbox"]+label span:first-child {
		width: 11px;
		height: 11px;
	}
	.tab1 input[type="checkbox"]:checked+label span:first-child:before {
		background-size: 9px;
	}
	.tab1 form p, form p {
		line-height: 11px;
	}
	.fields input[type="text"],input[type="email"] {
		margin-bottom: 18px;
	}
	h1 {
		letter-spacing: 5px;
		word-spacing: 2px;
		    margin: 67px 0px 54px;
	}
	.footer-w3l {
		margin: 52px 29px;
	}
	.content-wthree {
		padding: 1.8em;
		margin: 1.5em;
	}
}
@media(max-width:600px){
	h2.resp-accordion {
		font-size: 14px!important;
		padding: 7px 15px!important;
	}
	h1 {
		letter-spacing: 4px;
		word-spacing: 1px;
		margin: 71px 0px 57px;
		font-size: 46px;
	}
	.alert-close {
		right: -1px;
		top: 8px;
		background-size: 13px;
	}
	.footer-w3l {
		margin: 61px 29px;
	}
	input[type="submit"] {
		margin-top: 14px;
	}
	.content-wthree .fa {
		font-size: 26px;
	}
	.footer-w3l p {
		line-height: 32px;
	}
}

@media(max-width:568px){
	h1 {
		font-size: 45px;
	}
	.main-agile {
		width: 77%;
	}
}
@media(max-width:480px){
	h1 {
		font-size: 43px;
		letter-spacing: 3px;
		word-spacing: 0px;
	}
	.content-wthree {
		padding: 1.5em;
		margin: 1.4em;
	}
	.resp-tab-content {
		padding: 15px 19px 20px!important;
	}
	.fields input[type="text"],input[type="email"] {
		line-height: 14px;
	}
	.tab1 ul {
		line-height: 17px;
	}
	input[type="submit"] {
		font-size: 12px;
	}
	p.or {
		margin-bottom: 13px;
	}
	.main ul li {
		width: 31%;
	}
	.content-wthree .fa {
		font-size: 23px;
	}
	.footer-w3l {
		margin: 67px 34px;
	}
	.main-agile {
		width: 80%;
	}
}
@media(max-width:414px){
	h1 {
		font-size: 38px;
		letter-spacing: 2px;
	}
	.main-agile {
		width: 85%;
	}
	.content-wthree {
		padding: 1.2em;
		margin: 1.3em;
	}
	.alert-close {
		right: -4px;
		top: 6px;
	}
	.tab1 form p, form p {
		font-size: 11px;
	}
	p.or {
		font-size: 11px;
	}
}
@media(max-width:384px){
	.main-agile {
		width: 90%;
	}
	h1 {
		font-size: 35px;
		margin: 62px 0px 57px;
	}
	input[type="submit"] {
		padding: 7px 33px;
	}
	.tab1 input[type="checkbox"]+label {
		font-size: 12px;
	}
	.content-wthree .fa {
		font-size: 20px;
	}
}
@media(max-width:375px){
	h1 {
		font-size: 34px;
		margin: 50px 0px 50px;
	}
	.main-agile {
		width: 93%;
	}
		input[type="submit"] {
		font-size: 11.5px;
	}
	.fields input[type="text"],input[type="email"] {
		margin-bottom: 15px;
	}
}
@media(max-width:320px){
	h1 {
		font-size: 31px;
		letter-spacing: 1px;
		margin: 40px 0px 40px;
	}
	.content-wthree {
		padding: 1em;
		margin: 1.1em;
	}
	h2.resp-accordion {
		font-size: 12.4px!important;
		padding: 5px 13px!important;
	}
	.alert-close {
		right: -7px;
		top: 5px;
		background-size: 12px;
	}
	.footer-w3l {
		margin: 52px 24px;
	}
	.footer-w3l p {
		font-size: 12.5px;
	}
	.resp-tab-content {
		padding: 15px 14px 17px!important;
	}
	input[type="submit"] {
		font-size: 11.4px;
		 padding: 7px 28px;
	}
	.tab1 input[type="checkbox"]+label {
		font-size: 11.5px;
	}
	.tab1 input[type="checkbox"]+label span:first-child {
		width: 10px;
		height: 10px;
	}
	.tab1 input[type="checkbox"]:checked+label span:first-child:before {
		background-size: 8px;
		top: 1.5px;
	}
}
/*--responsive--*/
.demo{margin:150px auto;width:980px;}
.demo h1{margin:0 0 25px;}
.demo h3{margin:10px 0;}
pre{background-color:#FFF;}
@media only screen and (max-width:780px){
.demo{margin:5%;width:90%;}
.how-use{display:none;float:left;width:300px;}
}
#tabInfo{display:none;}
/*--//footer--*/
/*--responsive--*/
